.grid2 {
    position: absolute;
    display: flex;
    gap: 26px;
    top: 50%;
    left: 38vw;
    transform: translate(-50%,-50%);
    font-family: 'Roboto';
    color: white;
}
.cases {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    gap: 26px;
}
.cases li {
    width: 200px;
    height: 200px;
    background: rgba(189, 255, 82, 0.72);
}
.cases li p:nth-of-type(1), .data .data2 div p:nth-of-type(1) {
    height: 22.5%;
    line-height: 55px;
    text-align: center;
    margin: 0;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
}
.cases li p:nth-of-type(2), .data .data2 div p:nth-of-type(2) {
    height: 77.5%;
    line-height: 140px;
    text-align: center;
    margin: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}
.grid2 .result {
    position:relative;
    display: flex;
    flex-direction: column;
}
.grid2 .result .one, .two {
    position: absolute;
    background: rgba(166, 233, 124, 0.72);
    width: 426px;
    height: 426px;
}
.grid2 .result .one p, .two p {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    height: 25%;
    line-height: 100px;
    margin: 0;
}
.grid2 .result .one p span, .two p span {
    font-size: 48px; 
    font-style: normal;
    font-weight: 300;
}
.grid2 .result .one div, .two div {
    position: relative;
    height: 75%;
}
.grid2 .result .one div img, .two div img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    -webkit-transform: translate(-50%,-50%);
}
.one {
    display: block;
    z-index: 2;
}
.two {
    display: none;
    z-index: 1;
}