.grid-container{
    display: flex;
    gap: 26px;
    position: absolute;
    top: 251px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    font-family: 'Roboto';
    color: white;
}
.grid-container .data{
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.grid-container .data .data1{
    display: flex;
    gap: 26px;
}
.grid-container .data .data1 div {
    display: flex;
    flex-direction: column;
}
.grid-container .data .data1 div p:nth-of-type(1), .data .data2 div p:nth-of-type(1){
    height: 22.5%;
    line-height: 55px;
    text-align: center;
    margin: 0;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
}
.grid-container .data .data1 div p:nth-of-type(2), .data .data2 div p:nth-of-type(2) {
    height: 77.5%;
    line-height: 140px;
    text-align: center;
    margin: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}
.grid-container .data .data2 {
    display: flex;
    gap: 26px;
}

.grid-container .data .data1 div {
    background: rgba(189, 255, 82, 0.72);
    width: 200px;
    height: 200px;
}
.grid-container .data .data2 div {
    width: 313px;
    height: 200px;
    background: rgba(119, 71, 255, 0.72);
}
.grid-container .data .data2 div:nth-of-type(2) {
    width: 313px;
    height: 200px;
    background: rgba(0, 41, 255, 0.72);
}
.grid-container .result {
    width: 426px;
    height: 426px;
    background: rgba(166, 233, 124, 0.72);
}
.grid-container .result p {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    height: 25%;
    line-height: 100px;
    margin: 0;
}
.grid-container .result p span {
    font-size: 48px; 
    font-style: normal;
    font-weight: 300;
}
.grid-container .result div {
    position: relative;
    height: 75%;
}
.grid-container .result div img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    -webkit-transform: translate(-50%,-50%);
}